/* Normalize.css */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
/* Police Raleway */
@import url(https://fonts.googleapis.com/css2?family=Shrikhand);
/* Police Roboto */
@import url(https://fonts.googleapis.com/css2?family=Roboto);
body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-family: "Shrikhand", sans-serif;
}

h3 {
  font-weight: normal;
}

.purple-button {
  border: 0px;
  border-radius: 30px;
  box-shadow: black 0px 5px 5px -5px;
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  width: 220px;
  height: 50px;
  color: white;
  cursor: pointer;
}
.purple-button:hover {
  box-shadow: black 0px 10px 10px -10px;
  opacity: 0.9;
}

.cards {
  width: 90%;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .cards {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .cards {
    width: 22%;
  }
}
.cards > a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.cards__container {
  margin: auto;
  width: 100%;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 5px 10px -10px;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}
.cards__container__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.cards__container .new-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #99E2D0;
  color: #1b6150;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  top: 20px;
  right: 20px;
}
.cards__container > figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards__container .fa-stack {
  margin-right: 10px;
  margin-bottom: 10px;
}
.cards__container__text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.cards__container__text > h4 {
  margin-top: 10px;
  margin-bottom: 0;
}
.cards__container__text > p {
  margin-top: 5px;
}

.dish {
  display: flex;
  margin-top: 15px;
  width: 90%;
  background: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 10px -10px;
  cursor: pointer;
  animation: dish-appear 800ms ease-in-out;
  animation-fill-mode: backwards;
}
@keyframes dish-appear {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dish:hover .check {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  font-size: x-large;
  width: 80px;
  opacity: 1;
  transform: scaleX(1);
  transform-origin: 100% 50%;
}
.dish:hover .check > i {
  transform: rotate(0deg);
}
.dish__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 500ms;
}
.dish__container__title {
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 0;
}
.dish__container__title, .dish__container__text > p {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish__container__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish__container__text > strong, .dish__container__text p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.dish__container__text > strong {
  margin-left: 20px;
  margin-right: 10px;
}
.dish .check {
  opacity: 0;
  overflow: hidden;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
  transition: width 500ms ease-in-out;
  width: 0px;
}
.dish .check > i {
  transform: rotate(-360deg);
  transition: transform 600ms ease-in-out;
}

.fa-heart {
  font-size: 25px;
  cursor: pointer;
}

.heart-full {
  color: transparent;
  opacity: 0;
}
.heart-full:hover {
  background-image: linear-gradient(360deg, #FF79DA, #9356DC);
  background-clip: text;
  opacity: 1;
  -webkit-background-clip: text;
  transition: opacity 0.4s linear;
}

.loading-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  bottom: 0;
  background-color: white;
  animation-name: hide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.loading-spinner:after {
  content: "";
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 16px solid #FF79DA;
  border-top: 16px solid #99E2D0;
  background-color: #9356DC;
  animation: spin 2s ease-in-out;
}
@media screen and (min-width: 992px) {
  .loading-spinner:after {
    width: 100px;
    height: 100px;
    top: 45%;
    left: 45%;
  }
}

@keyframes hide {
  /*0% {
      opacity: 0;
  }*/
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: #969393 0px 5px 5px -5px;
  position: relative;
  z-index: 1;
}
.header__logo {
  margin: 10px auto;
  padding-top: 15px;
  font-size: 2em;
}
.header__back {
  position: absolute;
  left: 20px;
  top: 34px;
  color: black;
}
.header__back > a {
  text-decoration: none;
}

.footer {
  background: #353535;
  padding: 20px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__title, .footer__list a {
  color: white;
}
.footer__title {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: flex;
    justify-content: center;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}
.footer__list a {
  text-decoration: none;
}
.footer__list li {
  margin-top: 10px;
}
.footer .with-icon {
  display: flex;
  align-items: baseline;
}
.footer .with-icon > a {
  margin-left: 10px;
}
.footer .with-icon > i {
  width: 15px;
  color: white;
}

.presentation {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.presentation__title {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}
.presentation__text {
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
}
.presentation__button {
  margin-top: 15px;
  margin-bottom: 50px;
}

.tutorial__title {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.tutorial__list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 0;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .tutorial__list {
    flex-direction: row;
    justify-content: space-around;
  }
}
.tutorial__list__element {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: 0px 5px 10px -10px;
  position: relative;
  counter-increment: css-counter 1;
}
@media screen and (min-width: 768px) {
  .tutorial__list__element {
    width: 28%;
  }
}
.tutorial__list__element:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(css-counter) "";
  color: white;
  background: #9356DC;
  position: absolute;
  margin-left: -20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 14px;
}
.tutorial__list__element--purple {
  background: #f4eefc;
}
.tutorial__list__element--purple > i {
  color: #9356DC;
}
.tutorial__list__element--grey {
  background: #F6F6F6;
}
.tutorial__list__element i, .tutorial__list__element p {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  padding-bottom: 50px;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-left: 20px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .restaurants__cards {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.menu__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .menu__img {
    height: 250px;
  }
}
.menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: -30px;
  background: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
}
.menu__wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .menu__wrapper__header {
    justify-content: center;
  }
  .menu__wrapper__header > .fa-stack {
    margin-left: 20px;
  }
}
.menu__wrapper__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .menu__wrapper__content {
    flex-direction: row;
  }
}
.menu__wrapper__content .menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .menu__wrapper__content .menu-column {
    width: 30%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
  }
}
.menu__wrapper__content .dish-delay-1 {
  animation-delay: 80ms;
}
.menu__wrapper__content .dish-delay-2 {
  animation-delay: 160ms;
}
.menu__wrapper__content .dish-delay-3 {
  animation-delay: 240ms;
}
.menu__wrapper__content .dish-delay-4 {
  animation-delay: 320ms;
}
.menu__wrapper__content .dish-delay-5 {
  animation-delay: 400ms;
}
.menu__wrapper__content .dish-delay-6 {
  animation-delay: 480ms;
}
.menu__wrapper__content .dish-delay-7 {
  animation-delay: 560ms;
}
.menu__wrapper__content .dish-delay-8 {
  animation-delay: 640ms;
}
.menu__wrapper__content .dish-delay-9 {
  animation-delay: 720ms;
}
.menu__wrapper__content .dish-delay-10 {
  animation-delay: 800ms;
}
.menu__wrapper h2 {
  font-weight: normal;
}
.menu__wrapper h3 {
  font-family: "Roboto", sans-serif;
  margin-top: 40px;
  margin-bottom: 0;
}
.menu__wrapper .h3-underlined {
  width: 50px;
  height: 4px;
  margin-top: 5px;
  background-color: #99E2D0;
}
.menu__wrapper h3, .menu__wrapper .h3-underlined {
  margin-left: 20px;
  align-self: flex-start;
}
@media screen and (min-width: 992px) {
  .menu__wrapper h3, .menu__wrapper .h3-underlined {
    margin-left: 0;
    align-self: center;
  }
}
.menu__wrapper .purple-button {
  margin: 40px auto 60px auto;
}

.location {
  background: #EAEAEA;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-right: 40px;
}
.location p {
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
