.footer {
    background: $colour-dark-grey;
    padding: 20px;

    &__title {
        margin-top: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
    }

    &__list a {
        text-decoration: none;
        text-align: justify;
    }

    &__title, &__list a {
        color: white;
    }

    .row {
        display: flex;
        &__link {
            margin-left: 10px;
        }
    }
}

