.header {
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: $colour-grey 0px 5px 5px -5px;
    position: relative;
    z-index: 1;
    &__logo {
        margin: 10px auto;
        padding-top: 15px;
        font-size: 2em;
    }
    &__back {
        position: absolute;
        left: 20px;
        top: 34px;
        color: black;

        > a {
            text-decoration: none;
        }
    }
}