.header {
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: $colour-grey 0px 5px 5px -5px;
    position: relative;
    z-index: 10;
    &__logo {
        margin: 5px;
        padding-top: 15px;
        font-size: 2em;
    }
}