.header {
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: $colour-grey 0px 0.2px 5px 0px;
    &__logo {
        margin: 0;
        padding-top: 20px;

    }
}