.purple-button {
    border: 0px;
    border-radius: 30px;
    box-shadow: black 0px 5px 5px -5px;
    @include mix-purple-red;
    padding: 20px;
    color: white;
    cursor: pointer;
    &:hover {
        box-shadow: black 0px 10px 10px -10px;
        opacity: 0.9;
    }
}