.dish {
    display: flex;
    margin-top: 15px;
    width: 90%;
    flex-direction: column;
    background: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 10px -10px;
    &__title {
        margin-left: 0;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}