.fa-heart {
    font-size: 25px;
    cursor: pointer;
}

.heart-full {
    color: transparent;
    opacity: 0;
    
    &:hover {
        background-image: linear-gradient(360deg, $colour-secondary, $colour-primary);
        background-clip: text;
        opacity: 1;
        -webkit-background-clip: text;
        transition: opacity 0.4s linear;
    }
}