.fa-heart {
    font-size: 25px;
}

.heart-full {
    color: transparent;
    &:hover {
        background: linear-gradient(360deg, $colour-secondary, $colour-primary);
        background-clip: text;
        -webkit-background-clip: text;
    }
}