.menu {

    &__img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        @include display("tablet") {
            height: 250px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-top: -30px;
        background: $colour-lighter-grey;
        border-radius: 30px 30px 0px 0px;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            margin-right: 20px;
            margin-left: 20px;

            @include display("tablet") {
                justify-content: center;
                > .fa-stack {
                    margin-left: 20px;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;

            @include display("desktop") {
                flex-direction: row;
            }

            & .menu-column {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                @include display("desktop") {
                    width: 30%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                }
            }

            @for $i from 1 through 10 {
                .dish-delay-#{$i} {
                    animation-delay: #{$i * 80ms};
                }
            }
        }
        
        h2 {
            font-weight: normal;
            
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            margin-top: 40px;
            margin-bottom: 0;
        }

        .h3-underlined {
            width: 50px;
            height: 4px;
            margin-top: 5px;
            background-color: $colour-tertiary;
            
        }

        h3, .h3-underlined {
            margin-left: 20px;
            align-self: flex-start;

            @include display("desktop") {
                margin-left: 0;
                align-self: center;
            }
        }

        .purple-button {
            margin: 40px auto 60px auto;
        }
    }
}
