.tutorial {
    
    &__title {
        padding: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0;
        margin-bottom: 40px;
        @include display ("tablet") {
            flex-direction: row;
            justify-content: space-around;
        }

        &__element {
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 10px;
            margin-bottom: 20px;
            margin-left: 10px;
            box-shadow: 0px 5px 10px -10px;
            position: relative;
            counter-increment: css-counter 1;
            @include display ("tablet") {
                width: 28%;
            }
            

            &:before {
                display: flex;
                align-items: center;
                justify-content: center;
                content: counter(css-counter) "";
                color: white;
                background: $colour-primary;
                position: absolute;
                margin-left: -20px;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                font-size: 14px;
            }

            &--purple {
                background: lighten($colour-primary, 36%);

                > i {
                    color: $colour-primary;
                }
            }
            &--grey {
                background: $colour-lighter-grey;
            }

            i, p {
                margin-left: 20px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}