.tutorial {
    
    &__title {
        padding: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-top: 0;
        

        &__element {
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 10px;
            margin-bottom: 20px;
            box-shadow: $colour-grey 0px 5px 5px -2px;
            position: relative;
            counter-increment: css-counter 1;
            

            &:before {
                display: flex;
                align-items: center;
                justify-content: center;
                content: counter(css-counter) "";
                border: 1px solid $colour-primary;
                color: white;
                background: $colour-primary;
                position: absolute;
                margin-left: -20px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                font-size: 14px;
            }

            &--purple {
                background: lighten($colour-primary, 35%);

                > i {
                    color: $colour-primary;
                }
            }
            &--grey {
                background: $colour-lighter-grey;
            }

            i, p {
                margin-left: 20px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}