$breakpoints: ( 
    "tablet": 768px,
    "desktop": 992px 
);

@mixin display ($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)){
        &{ @content; }
    }
}

@mixin dish-animation {
    animation: dish-appear 1s ease-in-out;
    animation-fill-mode: backwards;
    @keyframes dish-appear {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @for $i from 0 through 10 {
        .dish-delay-#{$i} {
            animation-delay: #{$i * 0.1}s;
        }
    }
}