$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-dark-grey: #353535;
$colour-grey: #969393;
$colour-light-grey: #EAEAEA;
$colour-lighter-grey: #F6F6F6;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;